In [0]:
%sql
CREATE OR REPLACE TABLE customers_silver AS
SELECT DISTINCT customer_id,
       TRIM(name) AS name,
       CASE WHEN age IS NULL OR age > 100 THEN NULL ELSE age END AS age,
       CASE WHEN salary IS NULL OR salary > 200000 THEN NULL ELSE salary END AS salary,
       CASE WHEN email RLIKE '^[^@]+@[^@]+\\.[^@]+$' THEN email ELSE NULL END AS email,
       reg_date
FROM customers_bronze;

In [0]:
%sql
select * from books_silver limit 10